
<div class="row">
  <div class="col-md-4 col-md-offset-1">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">A <%= @years %> year loan of $<%= @principal %> with an annual interest rate of <%= @interest_rate_refined %>%, requires a monthly payment of $<%= @monthly_payment %>.</h3>
      </div>
    </div>
  </div>
</div>
