
<div class="row">
  <div class="col-md-4 col-md-offset-1">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">The square of <%= @user_input %> is <%= @squared %>.</h3>
      </div>
    </div>
  </div>
</div>
